 <!-- Rating state start -->
<section>
  <div class="rating-component" *ngIf="isSubmited == false">
    <div class="dark-bg">
      <img src="../assets/icon-star.svg" alt="A rating star">
    </div>
    <h1>How did we do?</h1>
    <p>  
    Please let us know how we did with your support request. All feedback is appreciated 
    to help us improve our offering!
    </p>
    <ul>
      <li [ngClass]="{active: selectedRating == 1}" (click)="onRatingClick(1)"><button>1</button></li>
      <li [ngClass]="{active: selectedRating == 2}" (click)="onRatingClick(2)"><button>2</button></li>
      <li [ngClass]="{active: selectedRating == 3}" (click)="onRatingClick(3)"><button>3</button></li>
      <li [ngClass]="{active: selectedRating == 4}" (click)="onRatingClick(4)"><button>4</button></li>
      <li [ngClass]="{active: selectedRating == 5}" (click)="onRatingClick(5)"><button>5</button></li>
    </ul>
    <button type="submit" id="submit-btn" (click)="onSubmit()">Submit</button>
  
    <!-- Rating state end -->
  </div>
  <div class="thank-you-msg" *ngIf="isSubmited==true">
    <!-- Thank you state start -->
    <img src="../assets/illustration-thank-you.svg" alt="An illustration of a phone and a bank card">
    <p id="selected-rating">You selected {{selectedRating}} out of 5 </p>

    <h1>Thank you!</h1>

    <p>We appreciate you taking the time to give a rating. If you ever need more support, 
      don’t hesitate to get in touch!</p>

    <!-- Thank you state end -->
  </div>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Ouadih Kaoutar</a>.
  </div>
</section>

 
